﻿
/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/
.fieldSet
{
    padding:5px; 
}
.page
{
    width: 99.8%;
    background-color: #fff;
    margin: 0px auto 0px auto;
    border: 1px solid #496077;
    z-index:20;
}


.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 500px;    
    z-index:8;
}

.manfield
{
    width: 950px;
    
}


.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
    z-index:18;
    top: 0px;
    left: 0px;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}



.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}
/*--------------Start - Developer written code 27-4-2017--------------------*/
/*-User write demo css start-*/
.table tr td 
{
    border: thin solid #ADD8E6;
}


.div
{
  /*-style=" float:left;width:450px;border: thin solid #ADD8E6;"*/
  float:left;
  width:450px;
  border:thin solid #ADD8E6;
 
 }
 .divcenter
{
  /*-style=" float:left;width:450px;border: thin solid #ADD8E6;"*/

  width:60%;
  border:thin solid #ADD8E6;
 
 }
 .buttonWU
 {
     padding-left:3px;
     Width:25px;
     font-size:12px;
 }
 
  .buttonWD
 {
     padding-left:1px;
     Width:30px;
     font-size:12px;
 }
 
 /*-User write demo css end-*/
 /*--------------End - Developer written code 27-4-2017--------------------*/

/*--------------Start - Developer written code--------------------*/ 

body {
	
	background:#d4d2d3 left top; margin:0px;
	
}

.login_name {
    
	float:right;
	color:#ffffff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding-top:38px;
	padding-right:50px;
}

.link_changeuser
{
    
    float:right;
    color:#ffffff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	
	padding-right:10px;
	
}

.hdr_mddlebg {
	background:url('../images/hdr_mddle_bg.png') repeat-x left bottom;
	height:70px;	
    width:100%;
    padding-top:8px;
}

.nav_mdle_bg {
	background:url('../images/nav_bg_mddle.png') repeat left bottom ;
	height:60px;
    width:99%;
    margin-right: 20px; 
}



.retrive_blk {
	padding: 0px 5px 0px 5px;
	
	
}

.approve_mand{
	
	line-height:30px;
	display:block;
	font:  12px arial, sans-serif ;
	color:#393939;
	
}

.innr_content {
	padding: 0px 5px 0px 5px;	
	margin-bottom:5px;
	z-index: 11111;
}

.footer {
	font: normal 12px arial, sans-serif;
	color:#ffffff;
    background-color: #07538C;
	text-align:center;
	line-height:20px;
}

/* TAB MENU   
----------------------------------------------------------*/

/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
    
}

div.menu
{
    padding: 4px 0px 4px 8px;
    z-index:999;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width:auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding:4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
    position:relative;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}


/*-------------User Registration Page code----------------------*/

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

div.accountInfo
{
    width: 98%;
    padding:0px;
    margin:0px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

.submitButton
{
    text-align: left;
    padding-left: 10px;
}

fieldset p
{
    margin: 5px 5px;
}
input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
   padding: 3px 0px 3px 3px;
  /*margin: 5px 1px 3px 0px;*/
  border: 1px solid #DDDDDD;
}



input[type=text]:focus, textarea:focus {
  
  
  
  border: 1px solid rgba(81, 203, 238, 1);
  
}


.clear
{
    clear: both;
}
.uppercase
{
    text-transform: uppercase;
}
/*--------------End - Developer written code--------------------*/




