﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="HomeMaster.master.cs" Inherits="OTTTWeb.HomeMaster" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">

    <link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />
    <!--User added code -->
    <script src="Scripts/jquery-1.11.3.js" type="text/javascript"></script>
    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>

    </script>
</head>
<body style="font-family: Arial; font-size: 10pt">

    <form id="Master" runat="server">
        <div class="page">
            <div class="header">
                <div class="hdr_mddlebg">
                    <div class="nav_mdle_bg">
                        <table width="100%">
                            <tr>
                                <td width="6%">
                                    <div>
                                        <asp:Image ID="imgCompanyLogo" ImageUrl="~/Images/logo.png" Width="52px"
                                            Height="52px" runat="server" />
                                    </div>
                                </td>
                                <td width="55%" align="left">
                                    <asp:Label ID="lblAppName" runat="server" Font-Size="Large" Font-Bold="true" ForeColor="White" Text="Online Test Tracking Tool" />
                                </td>
                                <td>
                                    <table width="100%">
                                        <tr align="right">
                                            <td>
                                                <div class="link_changeuser">
                                                    <asp:Label ID="lblWecome" runat="server" Text="Welcome ! " />
                                                    <asp:Label ID="lblUserName" runat="server" />
                                                </div>
                                            </td>
                                            <td>
                                                <div class="link_changeuser">
                                                    <asp:LinkButton ID="lnkNewUser" runat="server" ForeColor="White" PostBackUrl="#"
                                                        CausesValidation="False" OnClick="lnkNewUser_Click">New user?</asp:LinkButton>

                                                </div>
                                            </td>
                                        </tr>
                                        <tr align="right">
                                            <td colspan="2">
                                                <div class="link_changeuser">
                                                    <asp:HyperLink ID="hlnkUserManual" runat="server" ForeColor="White"
                                                        NavigateUrl="#">User Manual</asp:HyperLink><%--Target="_blank"--%>
                                                </div>
                                            </td>
                                        </tr>


                                    </table>

                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="clear hideSkiplink">
                        <asp:Menu ID="NavigationMenu" runat="server" CssClass="menu" EnableViewState="false" IncludeStyleBlock="false" Orientation="Horizontal">
                            <Items>
                                <asp:MenuItem Value="1" NavigateUrl="~/Home.aspx" Text="Home" Selected="True" />
                                <asp:MenuItem Value="2" NavigateUrl="~/Dashboard.aspx" Text="Dashboard" Selected="True" />
                                <asp:MenuItem Value="3" NavigateUrl="~/Monitoring.aspx" Text="Monitoring" Selected="True" />
                                <asp:MenuItem Value="4" NavigateUrl="~/TestTracking.aspx" Text="Test Tracking" Selected="True" />
                                <asp:MenuItem Value="5" NavigateUrl="#" Text="Master Data" Selected="True">
                                    <asp:MenuItem Value="6" NavigateUrl="~/MachineMaster.aspx" Text="Machine Master" Selected="True" />
                                </asp:MenuItem>
                                <asp:MenuItem Value="7" NavigateUrl="#" Text="Reports" Selected="True">
                                    <asp:MenuItem Value="8" NavigateUrl="~/Reports/TestAnalysisReport.aspx" Text="Test Analysis Report" Selected="True" />
                                     <asp:MenuItem Value="9" NavigateUrl="~/Reports/AllMachineTestReport.aspx" Text="All Tests on Machine Report" Selected="True" />
                                </asp:MenuItem>
                             
                            </Items>
                        </asp:Menu>
                    </div>
                </div>
            </div>

            <div class="main">
                <asp:ContentPlaceHolder ID="MainContent" runat="server" />
            </div>

            <div class="footer">
                <div>
                    <asp:Label ID="lblSupportDetails" runat="server" Text="" />
                </div>
                <div>
                    <asp:Label ID="lblFooter" runat="server" Text="" />
                    <asp:LinkButton ID="lnkFeedback" runat="server" ForeColor="White"
                        OnClick="lnkFeedback_Click">Feedback</asp:LinkButton>
                </div>

            </div>
        </div>

    </form>
</body>
</html>
